@charset "utf=8";
*{
	margin:0;
	border:0;
	box-sizing:border-box;
}
html,body{
	scroll-behavior:smooth;
	font:10pt/180% 'Noto Sans KR', sans-serif;background:black;
}
a{
	text-decoration:none;
	color:white;
	display:block;
}
img{
	display:block;
	max-width:100%;
}
hr{
	height:1px;
	background:white;
	border:none;
}
#layout{
	max-width:500px;
	margin:auto;
	position:relative;
	color:white;
	opacity:1;
	animation: main 1s both;
	overflow-x: hidden;
}
@keyframes main{
	from{
					opacity:0;
	}to{
					opacity:1;
	}
}

/***header***/
header{
	width:100vw;
	position:fixed;
	background: black;
	z-index: 1;
}
#head{
	width:100%;
	display:flex;
	padding:10px;
	align-items:center;
}
#head img{
	margin:auto;
	transform:translateX(20px);
}
#head button{
	color:white;
	background:transparent;
	border:none;
	font-size:2rem;
}
#head button span{
	font-size:4rem;
}

/***search***/
#search{
	width:100%;
	border-bottom:1px solid white;
	border-top:1px solid white;
	display:flex;
	padding:10px;
}
#search input{
	flex:5;
	margin-left:60px;
	background: transparent;
	color:white;
	opacity: 0.5;
	font-size: 1.5rem;
	font-weight: lighter;
}
#search a{
	flex:1;
	font-size:2rem;
}
/***menu***/
#menu{
	position:fixed;
	z-index: 1;
	background: white;
	width:80%;
	height:100%;
	right:-80%;
	color:black;
}
#menu a{
	color:black;
}
#menu button{
	margin-top:2vh;
	float:right;
	margin-right:10vw;
	background: transparent;
	border:none;
}
#menu button span{
	font-size: 4rem;
}
#navTop{
	margin-top: 10.5vh;
}
#navTop ul{
	padding-left: 0;
	list-style: none;
	list-style-position:outside;
}
#navTop ul li{
	padding:4vh 10vw;
	border-top:1px solid gray;
}
#navTop ul li:last-child{
	border-bottom:1px solid gray;
}
#navTop ul li>a{
	font-size: 2rem;
}
#insideNav{
	margin-top: 2vh;
	font-size:1.5rem;
	line-height: 160%;
	text-align: center;
	display: none;
}
#navBottom{
	margin-top:5vh;
	padding-left: 10vw;
	font-size: 1.5rem;
}
#navBottom a{
	display: inline-block;
	margin-top:3.5vh;
}
#navBottom a:hover {
	color:gray;
	border-bottom: 1px solid gray;
}


/***main***/
main{
	padding-top:180px;
	padding-bottom:120px;
}
#information{
	padding-bottom:100px;
}
#wentWill{
	display: flex;
	font-size: 1.8rem;
	width:80%;
	margin: auto;
	justify-content: space-between;
	font-weight: lighter;
	margin-bottom: 40px;
}
#wentWill a:hover{
	border-bottom: 1px solid white;
}
.diary{
	display: flex;
	width:80%;
	margin: auto;
	margin-top: 30px;
}
.diary figcaption{
	font-size: 0.85rem;
	text-align: center;
	line-height: 150%;
}
.diary p{
	padding-left: 10px;
	font-weight: lighter;
	line-height: 150%;
	text-align: justify;
}
#listBox{
	width:80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}
#listBox a{
	width:43%;
	padding-top: 30px;
}
/*하단*/
footer{
	position: fixed;
	width:100vw;
	bottom:0;
	display: flex;
	border-top:1px solid white;
	justify-content: space-around;
	background: black;
}
footer a{
	width:45px;
	margin: 20px;
}